@import "vars";


.tools{
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.tools__text{
  padding: 9.375rem 6.25rem;
  .desc{
    padding-bottom: 1rem;
  }
}
.tool__img{
  background: url("../images/tools-bg.jpg")no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}